/* Raíz */
:root {
    --white: #FFFFFF;
    --gray: #495057;
    --light-blue: #F3F5FC;
    --dark-blue: #0A3871;

    --textfield-font-size: 2rem;
}

/* HTML */
html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Corpo da página */
body {
    background-color: var(--light-blue);
}

/* Container */
.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.container-conteudo {
    display: flex;
    flex-direction: column;

    height: 90vh;

    gap: 1.5rem;
}

/* Logo da página */
.logo {
    position: absolute;
    top: 24px;
    left: 16px;
    width: 1.5rem;
}

.invisivel {
    display: none;
}

/* Tablets */
@media screen and (min-width: 768px) {

    .logo {
        top: 75px;
        left: 40px;
        width: 2rem;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .logo {
        top: 24px;
        left: 75px;
    }
}