/* Cores */
:root {
    --white: #FFFFFF;
    --light-blue: #F3F5FC;
    --dark-blue: #0A3871;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--light-blue);
}

.logo {
    position: absolute;
    top: 24px;
    left: 16px;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.container-principal {
    display: flex;
    flex-direction: column;

    height: 90vh;
    
    justify-content: center;
    align-items: center;
}

/* Rodapé */
.rodape {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 10vh;
    column-gap: 1rem;

    background: linear-gradient(180deg, var(--light-blue), lightgray);
}

.rodape-autor {
    color: var(--dark-blue);
}

/* Redes Sociais */
.social-medias {
    display: flex;

    column-gap: 0.3rem;
}

.social-icone {
    width: 1.5rem;
}

/* Tablets */
@media screen and (min-width: 768px) {

    .logo {
        top: 75px;
        left: 40px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .logo {
        top: 40px;
        left: 40px;
    }

    .rodape {
        flex-direction: column;
    }

    .social-medias {
        margin-top: 0.5rem;
    }
}