.botao {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.botao-comecar-jogo {
    padding: 2.5rem 6rem;

    border: none;
    border-radius: 24px;

    background-color: var(--dark-blue);
    color: var(--white);
}

.botao-comecar-jogo:first-child {
    margin-bottom: 1rem;
}

.botao-adiciona-palavra {
    padding: 1.4rem 4rem;
    border: 1px solid var(--dark-blue);
    border-radius: 24px;

    background-color: var(--white);
    color: var(--dark-blue);
}

/* Tablets */

/* Desktop */
@media screen and (min-width: 1024px) {
    
    .botao-adiciona-palavra {
        padding: 2rem 4.5rem;
    }
}