.botao {
    text-decoration: none;
    border-radius: 24px;
}

.botao-escuro {
    border: none;

    background-color: var(--dark-blue);
    color: var(--white);

    margin-bottom: 1rem;
}

.botao-claro {
    border: 1px solid var(--dark-blue);

    background-color: var(--white);
    color: var(--dark-blue);
}

#botao-comeca-jogo {
    padding: 3rem 6rem;
}

#botao-adiciona-palavra {
    padding: 2rem 4rem;
}

/* Tablets */

/* Desktop */
@media screen and (min-width: 1024px) {

    #botao-adiciona-palavra {
        padding: 2.5rem 4.5rem;
    }
}