.botao {
    text-decoration: none;
    text-align: center;
    border-radius: 24px;
    width: 340px;
    padding: 1.5rem 0;
}

.botao-escuro {
    border: none;

    background-color: var(--dark-blue);
    color: var(--white);

    /* margin-bottom: 1rem; */
}

.botao-claro {
    border: 1px solid var(--dark-blue);

    background-color: var(--white);
    color: var(--dark-blue);
}

#botao-comeca-jogo {
    padding: 3rem 0;
}

#botao-adiciona-palavra {
    padding: 2rem 0;
    width: 320px;
}

/* Tablets */
@media screen and (min-width: 768px) {
    .container-palavra {
        flex-direction: row;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    #botao-adiciona-palavra {
        padding: 2.5rem 0;
        width: 340px;
    }
}