.pagina-adiciona-palavra {
    justify-content: flex-end; /* Eixo vertical */
    align-items: center; /* Eixo horizontal */
}

.container-campo {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.campo-adiciona-palavra {
    width: 340px;
    height: 100%;

    resize: none;
    outline: none;
    border: none;

    background-color: var(--light-blue);
    color: var(--dark-blue);

    font-size: var(--textfield-font-size);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.aviso-max-letras {
    font-size: 0.9rem;
    color: var(--gray);
    padding: 1rem 0 1rem 2rem;

    background-image: url("../img/alert.svg");
    background-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: center left;
}

/* Tablets */
@media screen and (min-width: 768px) {

    .campo-adiciona-palavra {
        width: calc(680px + 1rem);
    }

    .container-campo {
        height: 60%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .pagina-adiciona-palavra {
        justify-content: center;
        gap: 2rem
    }
}