.pagina-jogo {
    justify-content: flex-end; /* Eixo vertical */
    align-items: center; /* Eixo horizontal */
}

.container-tabuleiro {
    width: 90%;
    max-width: 1280px;

    height: 45%;
    max-height: 800px;
}

.tabuleiro {
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);

    /* border: 1px solid black; */
}

/* Tablets */
@media screen and (min-width: 768px) {

    .container-tabuleiro {
        width: 75%;
        height: 60%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .container-tabuleiro {
        width: 60%;
        height: 75%;
    }

    .pagina-jogo {
        justify-content: center;
        gap: 2rem
    }
}